---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign papers = site.publications | where_exp: "item", "item.category != 'dissertation'" %}
{% for post in papers reversed %}
  {% include archive-single.html %}
{% endfor %}

{% assign dissertation = site.publications | where: "category", "dissertation" %}
{% if dissertation.size > 0 %}
  <h2 id="dissertation" class="archive__subtitle">Dissertation</h2>
  {% for post in dissertation %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
